.element {
  position: absolute;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(5px 0 0 var(--white)) drop-shadow(0 5px 0 var(--white)) drop-shadow(-5px 0 0 var(--white)) drop-shadow(0 -5px 0 var(--white));
  }

  & img:not(.pin) {
    width: 100%;
    height: 100%;
  }
}

.pin {
  position: absolute;

  width: 59px;
  height: 59px;
}