@import "../../styles/functions";

.menu {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';

    background: var(--bg-filter);
    backdrop-filter: blur(3px);
  }
}

.container {
  position: relative;

  width: 50%;
  display: flex;
  flex-direction: column;
  min-width: rem(640px);
  margin-left: auto;
  height: 100%;
  padding: rem(48px) rem(32px) rem(32px) rem(32px);

  background-color: var(--white);

  @media (max-width: 768px) {
    padding: rem(16px);
    width: 100%;
    min-width: 100%;

    overflow: auto;
  }
}

h3.title {
  margin-bottom: rem(32px);

  @media (max-width: 768px) {
    margin-bottom: rem(25px);
    width: rem(200px);

    font-size: rem(25px);
    line-height: 100%;
  }
}

.item {
  margin-bottom: rem(8px);

  & div {
    user-select: none;

    @media (max-width: 768px) {
      font-size: rem(16px);
      line-height: rem(19px);
    }

    &:after {
      @media (max-width: 768px) {
        font-size: rem(16px);
        line-height: rem(19px);
      }
    }
  }

  &:last-of-type {
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.list {
  column-count: 2;
  flex: 1;

  @media (max-width: 768px) {
    margin-bottom: rem(25px);

    column-count: 1;
  }
}

.footer {
  padding-top: rem(16px);
  column-count: 2;

  border-top: 2px solid var(--black);

  @media (max-width: 768px) {
    padding-top: rem(25px);
    column-count: 1;

    border-top: 1px solid var(--black);
  }
}

.authors {
  height: rem(115px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: auto;
    padding-right: rem(48px);
    margin-bottom: rem(16px);
  }
}

.divider {
  flex: 1;
  margin: 0 rem(8px);
  height: 2px;
  align-self: center;

  background-color: var(--yellow);
}

.author {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    margin-bottom: rem(5px);
  }
}

.info {
  height: rem(115px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: auto;
  }
}

.copyright, .socials {
  @media (max-width: 768px) {
    margin-bottom: rem(16px);
  }
}