.menu {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';

    background: var(--bg-filter);
    backdrop-filter: blur(3px);
  }
}

.container {
  position: relative;

  width: 50%;
  display: flex;
  flex-direction: column;
  min-width: 640px;
  margin-left: auto;
  height: 100%;
  padding: 48px 32px 32px 32px;

  background-color: var(--white);
}

.title {
  margin-bottom: 32px;
}

.item {
  margin-bottom: 8px;

  & div {
    user-select: none;
  }
}

.list {
  margin-bottom: 72px;
  column-count: 2;
  flex: 1;
}

.footer {
  padding-top: 16px;
  column-count: 2;

  border-top: 2px solid var(--black);
}

.authors {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divider {
  flex: 1;
  margin: 0 8px;
  height: 2px;
  align-self: center;

  background-color: var(--yellow);
}

.author {
  display: flex;
  justify-content: space-between;
}

.info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}