.author {
  width: 276px;
  height: 72px;
  display: flex;
  align-items: center;
  margin-bottom: 72px;

  & img {
    width: 72px;
    height: 72px;
    margin-right: 16px;

    overflow: hidden;
    border-radius: 50%;
  }
}

.role {
  opacity: .5;
}

.name {
  font-size: 14px;
  line-height: 135%;
  color: var(--black);
}

.modal {
  column-count: 2;
}


.big {
  margin-bottom: 12px;
}

.little {
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 24px;
  }
}