@import "../../styles/functions";

.wrapper {
  position: relative;

  margin-top: rem(32px);

  @media (max-width: 768px) {
    margin-top: rem(24px);
    padding-top: rem(64px);
  }
}

.title {
  margin-bottom: rem(32px);
  margin-right: rem(72px);

  font-size: rem(48px);
  line-height: 100%;

  @media (max-width: 768px) {
    margin-bottom: rem(24px);
    margin-right: 0;

    font-size: rem(23px);
    line-height: 100%;
  }
}

.picture {
  width: 100%;
}

.content {
  max-width: rem(592px);
  margin-right: rem(208px);

  color: var(--black);
  font-feature-settings: 'tnum' on, 'lnum' on;

  @media (max-width: 768px) {
    max-width: 100%;
    margin-right: 0;
  }

  & p {
    margin-bottom: rem(24px);

    font-size: rem(18px);
    line-height: 155%;

    @media (max-width: 768px) {
      font-size: rem(14px);
      line-height: rem(20px);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & h3 {
    padding-top: rem(16px);
    margin-bottom: rem(32px);

    font-size: rem(36px);
    line-height: 100%;

    @media (max-width: 768px) {
      font-size: rem(20px);
      line-height: 100%;

      margin-bottom: rem(24px);
    }

    &:first-of-type {
      padding-top: 0;
    }
  }

  & a {
    border-bottom: 1px solid var(--black);
    transition: .3s;
  }

  & a:hover {
    border-bottom: 1px solid var(--yellow);
  }
}

.link {
  margin-top: rem(32px);

  @media (max-width: 768px) {
    margin-top: rem(24px);
    margin-bottom: rem(40px);
  }
}

.close {
  position: relative;

  width: rem(56px);
  height: rem(56px);

  cursor: pointer;

  & img {
    width: rem(28px);
    height: rem(28px);
  }
}

.close {
  position: absolute;
  right: rem(32px);
  top: rem(32px);

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: rem(24px);
    height: rem(24px);

    top: rem(13px);
    right: rem(16px);
  }

  & img {
    width: rem(24px);
    height: rem(24px);
  }
}

.socials {
  position: absolute;
  right: rem(32px);
  bottom: rem(56px);

  flex-direction: column;

  @media (max-width: 768px) {
    position: relative;
    right: auto;
    bottom: auto;
    flex-direction: row;
  }

  & li {
    margin-right: 0;
    margin-bottom: rem(4px);

    @media (max-width: 768px) {
      margin-bottom: 0;
      margin-right: rem(4px);
    }
  }

  & li:last-of-type {
    margin-bottom: 0;
  }
}