@import "../../styles/functions";

.wrapper {
  position: relative;

  padding-top: rem(32px);
}

.title {
  margin-bottom: rem(32px);
  margin-right: rem(72px);

  font-size: rem(48px);
  line-height: 100%;
}

.picture {
  width: 100%;
}

.content {
  max-width: rem(592px);
  margin-right: rem(208px);

  color: var(--black);
  font-feature-settings: 'tnum' on, 'lnum' on;

  & p {
    margin-bottom: rem(24px);

    font-size: rem(18px);
    line-height: 155%;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & h3 {
    padding-top: rem(16px);
    margin-bottom: rem(32px);

    font-size: rem(36px);
    line-height: 100%;

    &:first-of-type {
      padding-top: 0;
    }
  }

  & a {
    border-bottom: 1px solid var(--black);
    transition: .3s;
  }

  & a:hover {
    border-bottom: 1px solid var(--yellow);
  }
}

.link {
  margin-top: rem(32px);
}

.close {
  position: relative;

  width: rem(56px);
  height: rem(56px);

  cursor: pointer;

  & img {
    width: rem(28px);
    height: rem(28px);
  }
}

.close {
  position: absolute;
  right: rem(32px);
  top: rem(32px);

  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: rem(28px);
    height: rem(28px);
  }
}

.socials {
  position: absolute;
  right: rem(32px);
  bottom: rem(56px);

  flex-direction: column;

  & li {
    margin-right: 0;
    margin-bottom: rem(4px);
  }

  & li:last-of-type {
    margin-bottom: 0;
  }
}