@import "../../styles/functions";

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  width: rem(750px);
  padding: rem(32px) rem(124px) rem(56px) rem(32px);
  justify-content: space-between;
  flex-shrink: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: rem(24px);
}

.paragraph {
  margin-bottom: rem(44px);
}

.pic {
  position: relative;
  overflow: hidden;

  width: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
}