@import "../../styles/functions";

.wrapper {
  position: relative;

  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:before {
    background-size: rem(320px) rem(320px);
    background-image: url('../../resources/pics/papper.jpg');
    filter: invert(1);
    opacity: .8;
  }

  &:after {
    background-size: rem(640px) rem(640px);
    background-image: url('../../resources/pics/icons.png');
    filter: drop-shadow(0px rem(4px) rem(4px) rgba(0, 0, 0, 0.25));
  }
}

.block {
  width: rem(2260px);
  height: rem(1200px);
  min-height: 100%;

  @media (max-width: 768px) {
    width: rem(360px);
    height: rem(1775px);
  }
}