@import "../../styles/functions";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg-filter);
  backdrop-filter: blur(3px);

  animation-name: appear;
  animation-duration: .5s;
}

.dialog {
  position: relative;

  width: 100%;
  max-width: rem(864px);

  margin: 0 rem(20px);
  max-height: calc(100vh - rem(100px));
  display: flex;
  flex-direction: column;

  background: var(--white);
  box-shadow: rem(8px) rem(8px) 0 var(--yellow);
  border: 2px solid var(--black);

  animation-name: slide-in;
  animation-duration: 0.5s;
}

.content {
  position: relative;

  padding: rem(40px) rem(32px) rem(30px);

  &.second {
    padding: rem(32px) rem(32px) rem(56px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(rem(-150px));
  }
  to {
    transform: translateY(0);
  }
}
