@import "../../styles/functions";

.header {
  padding: rem(4px) rem(32px);
  display: flex;
  align-items: center;
  height: rem(40px);

  background-color: var(--black);
}

.logo {
  margin-right: rem(24px);
}

.title {
  color: var(--white);
}