.item {
  margin-right: 4px;

  &:last-of-type {
    margin-right: 0;
  }
}

.list {
  display: flex;
}

.link {
  display: block;
  width: 32px;
  height: 32px;

  & svg {
    width: 100%;
    height: 100%;
    display: block;

    transition: .3s;
  }

  &:hover svg {
    fill: var(--yellow);
  }
}